# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/src/context/employees.context_20221206155323.jsx
.history/src/context/employees.context_20221206173057.jsx
.history/src/routes/administration/administration.component_20221206162148.jsx
.history/src/routes/administration/administration.component_20221206163050.jsx
.history/src/routes/administration/administration.component_20221206171758.jsx
.history/src/routes/administration/administration.component_20221206173111.jsx
.history/src/utils/get-winners_20221206115842.js
.history/src/utils/get-winners_20221206143033.js
.history/src/utils/get-winners_20221206154633.js
.history/src/utils/get-winners_20221206154721.js
.history/src/utils/get-winners_20221206161554.js
.history/src/utils/get-winners_20221206162942.js
.history/src/utils/get-winners_20221206165517.js
.history/src/utils/get-winners_20221206165532.js
.history/src/utils/get-winners_20221206165620.js
.history/src/utils/get-winners_20221206170230.js
.history/src/utils/get-winners_20221206170309.js
.history/src/utils/get-winners_20221206170332.js
.history/src/utils/get-winners_20221206170422.js
.history/src/utils/get-winners_20221206170435.js
.history/src/utils/get-winners_20221206171013.js
.history/src/utils/get-winners_20221206171033.js
.history/src/utils/get-winners_20221206171049.js
.history/src/utils/get-winners_20221206171740.js
.history/src/utils/get-winners_20221206171808.js
.history/src/utils/get-winners_20221206173117.js
.history/src/utils/get-winners_20221206173126.js
.history/src/utils/get-winners_20221206173635.js
.history/src/utils/get-winners_20221206173807.js
