body {

  width: 99%;

  height: 100%;

  background-image: url('./assets/PantallasSORTEOS.jpg');

  background-size: cover;

  background-position: 0 0;


}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
